html{
  font-size: 90.5%;
}

body{
  font-family: 'Spectral', serif;
  background-image: url('https://cdn.pixabay.com/photo/2018/10/17/20/20/jesus-3754861_960_720.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  width: fit-content;
  }

.row .container-py5{
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.5rem;
  margin-left: 8%;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  margin-top: 4rem;
}
.form-groupmb-3{
  width: 100%;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-bottom: .1rem solid #555;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  font-size: 1.7rem;
  color: rgb(5, 5, 5);
  padding: 1rem;
}

.form-control{
  width: 100%;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-bottom: .1rem solid #555;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  font-size: 1.7rem;
  color: #000;
  padding: 1rem;
}

.btnbtn-primaryme-2{
  margin-top: 1.5rem;
  padding: .8rem 2.5rem;
  font-size: 2rem;
  border: none;
  border-bottom: .1rem solid rgb(242, 242, 245);
  background: rgba(10, 161, 231, 0.226);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  cursor: pointer;
  margin-left: 5%;
}

.btnbtn-danger{
  
  padding: .8rem 2.5rem;
  font-size: 2rem;
  border: none;
  border-bottom: .1rem solid rgb(250, 245, 245);
  background: rgba(156, 32, 32, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  cursor: pointer;
  margin-left: 43%;
}

container{
  width: 40px;
}

.glass{
  background: none;
  border: 2px solid rgb(233, 228, 228);
  /*font-family: "montserrat", sans-serif;*/
  padding: 12px 20px;
  min-width: 100px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.glass:hover{
  color: #fff;
}

.glass::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 84, 84, 0.247);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7)
}

.rep{
  background: none;
  border: 2px solid rgb(233, 228, 228);
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.rep:hover{
  color: #fff;
}

.rep::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 84, 84, 0.247);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7)
}


